@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?k5zzwj') format('truetype'), url(icomoon-font-path + '/icomoon.woff?k5zzwj') format('woff'), url(icomoon-font-path + '/icomoon.svg?k5zzwj#icomoon') format('svg')
  font-weight normal
  font-style normal

.icon
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-thermometer-0
  &:before
    content icon-thermometer-0
.icon-thermometer-3
  &:before
    content icon-thermometer-3
.icon-thermometer-2
  &:before
    content icon-thermometer-2
.icon-thermometer
  &:before
    content icon-thermometer
.icon-thermometer-1
  &:before
    content icon-thermometer-1
.icon-humidity
  &:before
    content icon-humidity
.icon-data-cable
  &:before
    content icon-data-cable

