<template>
  <div class="chart" :id="chartID" ref="chart"></div>
</template>

<script>
  import cloneDeep from 'lodash/cloneDeep'
  import Highcharts from 'highcharts'
  Highcharts.setOptions({
    global: {
      useUTC: false
    }
  })
  export default {
    data () {
      return {
        chartID: 'highchart__' + this._uid,
        chart: null
      }
    },
    created () {
      let options = cloneDeep(this.options)
      options.series = cloneDeep(this.dataset)

      this.$nextTick(() => {
        this.chart = Highcharts.chart(this.$refs.chart, options)
      })
    },
    props: [
      'options',
      'dataset'
    ],
    watch: {
      dataset (val, oldVal) {
        let redraw = false
        val.forEach((dataset, i) => {
          if (typeof this.chart.series[i] !== 'undefined') {
            this.chart.series[i].update(dataset)
          }
          else {
            redraw = true
            this.chart.addSeries(dataset, false)
          }
        })
        redraw && this.chart.redraw()
      }
    }
  }
</script>

<style>
  .chart {
    margin: 20px 0;
    height: 400px;
  }
</style>
