<template>
  <div class="last-measurement" :class="'last-measurement' + type">
    <div class="last-measurement__date">
      {{ value.created_at | moment }}
    </div>
    <div class="last-measurement__mode last-measurement__smaller">
      {{ settingMode }}
    </div>
    <div class="last-measurement__value">
      <span class="value">{{ value.value }} </span><sup class="unit" v-html="unit"></sup>
    </div>
    <div class="last-measurement__settings last-measurement__smaller" v-if="settings">
      Set {{ setting }} &plusmn;
      {{ settingHysteresis }} <span v-html="unit"></span>
    </div>
  </div>
</template>


<script>
  import Moment from 'moment'
  let units = {
    temperature: '&deg; C',
    humidity: '&percnt; H'
  }
  export default {
    data () {
      return {
        labels: {
          temperature: {
            0: 'Отопление',
            1: 'Охлаждане'
          },
          humidity: {
            0: 'Овлажняване',
            1: 'Изсушаване'
          }
        }
      }
    },
    filters: {
      moment (value) {
        return Moment(value).format('D.MMM.YY HH:mm:ss').toString()
      }
    },
    props: [
      'value',
      'settings',
      'type'
    ],
    computed: {
      setting () {
        return this.settings[this.type]
      },
      settingHysteresis () {
        return this.settings[this.type + '_hysteresis']
      },
      unit () {
        return units[this.type]
      },
      settingMode () {
        return this.labels[this.type][this.settings[this.type + '_mode']]
      }
    }
  }
</script>
<style lang="styl" rel="stylesheet/stylus">
  @import "~quasar/src/themes/quasar.core.variables.styl"
  @import "~src/themes/app.variables.styl"
  $lightTextShadow = 0 1px 0 $grey-8

  .last-measurement {
    width: 50%;
    &:first-of-type {
      padding-right: 8px;
    }
    &:last-of-type {
      padding-left: 8px;
    }
    &__date {
      color: $grey-9
      font-weight: bold
      margin-bottom: 1rem;
      text-shadow 0 1px 1px $grey-5
    }
    &__value {
      color: $white
      text-shadow $lightTextShadow
      .value {
        font-size: 12vw;
      }
      .unit {
        font-size: 7vw
        vertical-align: top
      }
    }
    &__smaller {
      font-size: 0.8rem;
      color: $white;
      text-shadow $lightTextShadow
    }
  }

</style>
