// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// App Material Design Variables
// --------------------------------------------------
// Material Design only Stylus variables can go here

$generic-border-radius ?= 2px
$generic-input-size ?= 25px
$generic-input-border-width ?= 2px

$typography-font-family ?= 'Roboto'

$toolbar-color ?= white
$toolbar-background ?= $primary
$toolbar-active-color ?= $primary
$toolbar-faded-color = $grey-4

$tabs-font-weight = normal
$tabs-active-color = $white

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'
@import "icons/style.styl"

.modules-list-enter-active, .modules-list-leave-active {
  transition: all 1s;
}

.modules-list-enter, .modules-list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
