<template>
  <div>
    <div v-if="isLoading" class="text-center">
      <spinner></spinner>
    </div>
    <div v-if="!isLoading" class="environment">
      <div class="environment__title item two-lines bg-primary text-white">
        <div class="item-content">
          <div>{{environment.title}}</div>
          <div><span class="icon icon-data-cable"></span> {{environment.environment_number}} &commat;
            {{environment.module.modulename}}
            <span v-if="!environment.setting.is_read">
              <spinner size="16" color="white">sync</spinner>
              <q-tooltip>
                Module has not synced with the new settings.
              </q-tooltip>
            </span>
          </div>
        </div>
        <div class="item-secondary text-white">
          <button>
            <i>more_vert</i>
            <q-popover ref="popover">
              <div class="list item-delimiter highlight">
                <!--<div class="item item-link">-->
                <!--<div class="item-content">Edit Environment</div>-->
                <!--</div>-->
                <div class="item item-link">
                  <div class="item-content" @click="$refs.settingsModal.open(), $refs.popover.close()">Edit Settings
                  </div>
                </div>
              </div>
            </q-popover>
          </button>
        </div>
      </div>
      <div class="environment__body">
        <q-tabs
          default-tab="tab-days"
          @change="tabsChanged">
          <q-tab name="tab-days">24h</q-tab>
          <q-tab name="tab-weeks">Week</q-tab>
          <q-tab name="tab-months">Month</q-tab>
          <q-tab name="tab-months-3">3 months</q-tab>
        </q-tabs>
        <div class="environment__content">
          <transition name="fade" mode="out-in">
            <div class="environment__stats" v-if="lastMeasurements.temps && lastMeasurements.humids"
                 key="has-measurements">
              <div class="environment__last-measurements">
                <last-measurement :value="lastMeasurements.temps" type="temperature"
                                  :settings="singularSetting"
                                  v-if="lastMeasurements.temps"></last-measurement>
                <last-measurement :value="lastMeasurements.humids" type="humidity"
                                  :settings="singularSetting"
                                  v-if="lastMeasurements.humids"></last-measurement>
              </div>
              <chart :options="chartOptions" :dataset="chartDataset"></chart>
            </div>
            <div class="environment__no-measurements" v-else key="no-measurements">
              No measurements for the chosen time period!
            </div>
          </transition>
        </div>
      </div>
      <q-modal
        ref="settingsModal"
        :content-css="{minWidth: '80vw', minHeight: '80vh'}"
        @open="onSettingsModalOpen"
      >
        <q-layout>
          <div slot="header" class="toolbar">
            <button @click="$refs.settingsModal.close()">
              <i>keyboard_arrow_left</i>
            </button>
            <q-toolbar-title :padding="1">
              Environment Settings
            </q-toolbar-title>
            <button
              :disabled="settingModal.progress > 0"
              @click="saveSettingsModal()">
              <spinner :size="25" v-if="settingModal.progress"></spinner>
              <span v-else>SAVE</span>
            </button>
          </div>
          <div class="layout-view">
            <div class="layout-padding">
              <div class="row setting-row small-gutter wrap">
                <div class="sm-width-1of1 width-1of3">
                  <div class="stacked-label">
                    <input type="number" class="full-width" v-model="settingModal.tempSettings.temperature">
                    <label>Temperature</label>
                  </div>
                </div>
                <div class="sm-width-1of1 width-1of3">
                  <div class="stacked-label">
                    <input type="number" class="full-width" v-model="settingModal.tempSettings.temperature_hysteresis">
                    <label>
                      Temperature Hysteresis
                    </label>
                  </div>
                </div>
                <div class="sm-width-1of1 width-1of3">
                  <q-select
                    type="radio"
                    v-model="settingModal.tempSettings.temperature_mode"
                    :options="settingModal.temperature_options"
                    label="Temperature Mode"
                    class="full-width"
                  ></q-select>
                </div>
              </div>
              <div class="row setting-row small-gutter wrap">
                <div class="sm-width-1of1 width-1of3">
                  <div class="stacked-label">
                    <input type="number" class="full-width" v-model="settingModal.tempSettings.humidity">
                    <label>Humidity</label>
                  </div>
                </div>
                <div class="sm-width-1of1 width-1of3">
                  <div class="stacked-label">
                    <input type="number" class="full-width" v-model="settingModal.tempSettings.humidity_hysteresis">
                    <label>Humidity Hysteresis</label>
                  </div>
                </div>
                <div class="sm-width-1of1 width-1of3">
                  <q-select
                    type="radio"
                    v-model="settingModal.tempSettings.humidity_mode"
                    :options="settingModal.humidity_options"
                    label="Humidity"
                    class="full-width"
                  ></q-select>
                </div>
              </div>
            </div>
          </div>
        </q-layout>
      </q-modal>
    </div>
  </div>
</template>

<script>
  import cloneDeep from 'lodash/cloneDeep'
  import Moment from 'moment'
  import * as envApi from '../api/environment'
  import lastMeasurement from './includes/lastMeasurements'
  import Chart from './includes/chart'
  import chartOptions from './utils/chartOptions.js'
  import {Loading, Toast} from 'quasar'
  function transformData (data) {
    let buffer = [{
      name: 'Temperature',
      dataLabels: {
        format: '{y} &deg;'
      },
      data: []
    }, {
      name: 'Humidity',
      dataLabels: {
        format: '{y} &percnt;'
      },
      data: []
    }]
    let localIndex = 0
    for (let [, sensorData] of Object.entries(data)) {
      sensorData.forEach((dataValue) => {
        buffer[localIndex].data.push([
          new Date(dataValue.created_at).getTime(),
          dataValue.value])
      })
      localIndex++
    }
    return buffer
  }
  export default {
    data () {
      return {
        isLoading: false,
        environment: {},
        rawSensorData: {},
        chartOptions: chartOptions,
        chartDataset: {},
        settingModal: {
          tempSettings: {},
          temperature_options: [
            {label: 'Отопление', value: 0},
            {label: 'Охлаждане', value: 1}
          ],
          humidity_options: [
            {label: 'Овлажняване', value: 0},
            {label: 'Изсушаване', value: 1}
          ],
          progress: 0
        }
      }
    },
    created () {
      this.fetchEnvironment()
    },
    computed: {
      lastMeasurements () {
        let cached = {}
        if (Object.keys(this.rawSensorData).length > 0) {
          for (var [key, value] of Object.entries(this.rawSensorData)) {
            cached[key] = value[value.length - 1]
          }
        }
        return cached
      },
      singularSetting () {
        return !this.environment.setting ? null : this.environment.setting.singular_setting
      }
    },
    methods: {
      fetchEnvironment () {
        this.isLoading = true
        envApi.getEnvironment(this.$route.params.id).then((response) => {
          this.isLoading = false
          this.environment = response.data.data
        })
      },
      tabsChanged (span) {
        let
          [period, periodCount = 1] = span.replace('tab-', '').split('-'),
          startDate = Moment().subtract(periodCount, period).format('X'),
          endDate = Moment().format('X')
        Loading.show({
          message: 'Getting sensor data'
        })
        envApi.getEnvironmentSensorData(this.$route.params.id, startDate, endDate).then((response) => {
          Loading.hide()
          this.rawSensorData = response.data.data
          this.chartDataset = transformData(this.rawSensorData)
        }, (data) => {
          Loading.hide()
          Toast.create.negative(data.statusText)
        })
      },
      onSettingsModalOpen () {
        this.settingModal.tempSettings = cloneDeep(this.singularSetting)
      },
      saveSettingsModal () {
        this.settingModal.progress = 1
        this.$http.post('environment{/env_id}/settings', this.settingModal.tempSettings, {
          params: {
            env_id: this.$route.params.id
          }
        }).then((response) => {
          if (response.body.success) {
            this.settingModal.progress = 100
            this.environment.setting.singular_setting = this.settingModal.tempSettings
            this.environment.setting.is_read = 0
            this.$refs.settingsModal.close()
            this.settingModal.progress = 0
          }
        })
      }
    },
    components: {
      lastMeasurement,
      Chart
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "~quasar/src/themes/quasar.core.variables.styl"
  @import "~src/themes/app.variables.styl"
  $lightTextShadow = 0 1px 0 $grey-8
  .layout-view {
    display: flex
    flex-flow: column
    flex: 1 1 100%
  }

  .environment {
    display: flex
    flex-flow: column
    flex: 1 1 100%
    &__body {
      display: flex
      flex-flow: column
      flex: 1 1 100%
    }
    &__content {
      padding: 1rem
      background: linear-gradient(to bottom, $teal-4 30%, $teal-6 100%);
      flex: 1 1 100%
    }
    &__stats {
      .highcharts-background {
        fill: transparent
      }

      .highcharts-data-label {
        text-shadow $lightTextShadow
      }
    }
    &__last-measurements {
      display: flex
      min-height: 101px
    }
    &__no-measurements {
      color: $white
      text-shadow $lightTextShadow
    }
  }

  .modal {
    .q-picker-textfield-label {
      color: rgba(0, 0, 0, .54) !important
    }
  }
</style>
