<template>
  <q-layout>
    <div slot="header" class="toolbar">
      <button class="left-drawer-opener" @click="$refs.leftDrawer.open()">
        <i>menu</i>
      </button>
      <q-toolbar-title :padding="1">
        <div class="text-center">
          TerraControl
        </div>
      </q-toolbar-title>
    </div>
    <q-drawer ref="leftDrawer">
      <div class="toolbar">
        <q-toolbar-title>
          <div v-show="$auth.check()">
            Logged as {{$auth.user().name}}
          </div>
        </q-toolbar-title>
      </div>
      <div class="list no-border platform-delimiter">
        <q-drawer-link to="/">
          Modules
        </q-drawer-link>
        <div class="item item-link" @click="logout">
          <div class="item-content">
            Logout
          </div>
        </div>
      </div>
    </q-drawer>
    <transition name="fade" mode="out-in">
      <router-view class="layout-view" ></router-view>
    </transition>
  </q-layout>
</template>

<script>
  export default {
    data () {
      return {
        modules: []
      }
    },
    methods: {
      logout () {
        this.$auth.logout({
          redirect: '/login'
        })
      }
    }
  }
</script>
