<template>
  <div class="auth auth-holder">
    <div class="card auth-form">
      <div class="card-content">
        <div class="auth-form__header">
          <div class="auth-form__header-avatar">
            <i>account_circle</i>
          </div>
          <div class="text-center">Sign in with your email and password</div>
        </div>
        <div class="auth-form__content">
          <form @submit.prevent="login()">
            <div class="auth-form__input">
              <input name="email" type="email" v-model="auth.body.email" placeholder="Email">
            </div>
            <div class="auth-form__input">
              <input name="password" type="password" v-model="auth.body.password" placeholder="Password">
            </div>
            <div class="text-right">
              <button class="button primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Toast} from 'quasar-framework'
  export default {
    data () {
      return {
        auth: {
          body: {
            email: '',
            password: ''
          },
          rememberMe: false
        }
      }
    },
    methods: {
      login () {
        this.$auth.login({
          body: this.auth.body,
          success: function (data) {
            Toast.create.positive(data.statusText)
          },
          error: function (data) {
            Toast.create.negative(data.statusText)
          },
          rememberMe: this.auth.rememberMe,
          redirect: '/',
          fetchUser: true
        })
      }
    }
  }
</script>

<style lang="styl" rel="stylesheet/stylus">
  @import "~quasar/src/themes/quasar.core.variables.styl"
  @import "~src/themes/app.variables.styl"
  .auth-holder {
    height: 100vh
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    background: $primary-gradient
    padding: 2rem 0
  }

  .auth-form {
    width: 80%
    background: $white
    overflow: auto;
    &__header {
      margin: 2rem 0
      &-avatar {
        color: $faded
        text-align: center
        font-size: 5rem
        line-height: 1
      }
    }
    &__content {
      .button {
        margin-top: $generic-margin;
      }
    }
    &__input {
      margin-bottom: 1rem;
      input {
        width: 100%
      }
    }
  }

</style>
