<template>
  <div class="modules-wrapper">
    <q-pull-to-refresh :handler="pullRefreshFetchModules">
      <div class="layout-padding">
        <div v-if="isLoading" class="text-center">
          <spinner></spinner>
        </div>
        <transition-group name="modules-list" tag="div">
          <module v-for="module in modules" :module="module" v-bind:key="module.id"></module>
        </transition-group>
      </div>
    </q-pull-to-refresh>
  </div>
</template>

<script>
  import {Toast} from 'quasar-framework'
  import Module from './Module.vue'
  export default {
    data () {
      return {
        isLoading: false,
        modules: []
      }
    },
    created () {
      this.fetchModules()
    },
    watch: {
      $route: 'fetchModules'
    },
    methods: {
      pullRefreshFetchModules (done) {
        this.$http.get('module').then((response) => {
          this.modules = [...response.body.modules]
          done()
        }, (response) => {
          Toast.create.negative('Could not get the modules')
          done()
          this.$auth.logout()
        })
      },
      fetchModules () {
        this.isLoading = true
        this.$http.get('module').then((response) => {
          this.modules = [...response.body.modules]
          this.isLoading = false
        }, () => {
          Toast.create.negative('Could not get the modules')
        })
      }
    },
    components: {
      Module
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "~quasar/src/themes/quasar.core.variables.styl"
  @import "~src/themes/app.variables.styl"
  .modules-wrapper {
    background: $grey-2;
  }

  .module {
    background: $white;
  }
</style>
