<template>
  <div class="card module">
    <div class="card-title bg-primary text-white">
      {{ module.modulename }}
      <small class="text-grey-9">{{module.environments.length}} / {{module.module_type.sensors_count}}</small>
    </div>
    <div class="list no-border" v-if="module.environments.length">
      <div class="item item-delimiter two-lines env-item" v-for="env in module.environments">
        <img class="item-primary thumbnail" :src="getEnvImg(env)" alt=""
             v-link="{name:'environment', params:{id:env.id}}">
        <div class="item-content has-secondary" v-link="{name:'environment', params:{id:env.id}}">
          <div> {{env.title}}</div>
          <div>
            <small class="uppercase">Port:</small>
            <span class="icon icon-data-cable"></span> {{env.environment_number}}
          </div>
        </div>
        <div class="env-item__stats item-secondary">
          <div class="env-item__stat temp">
            <span class="icon icon-thermometer-1"></span> {{env.first_ten_temperatures[0].value}}
          </div>
          <div class="env-item__stat hum">
            <span class="icon icon-humidity"></span>  {{env.first_ten_humidities[0].value}}
          </div>
        </div>
      </div>
    </div>
    <div class="card-content card-force-top-padding" v-if="module.environments.length <= 0">
      No environments for this module
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'module'
    ],
    methods: {
      getEnvImg (env) {
        return `http://api.terrariums.eu/images/environment/env-${env.id}.jpg`
      }
    }
  }
</script>

<style rel="stylesheet/stylus" lang="stylus">
  .env-item {
    &__stats {
      top: 0 !important
      height: auto
      font-size: 0.8rem !important
    }
    &__stat {
      white-space nowrap
      .icon {
        width:1em;
        text-align: center
        display: inline-block
      }
    }
  }
</style>

<style>
</style>
